@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --black: hsl(0, 0%, 20%);
        --white: hsl(0, 0%, 100%);
        --silver: hsl(200, 3.8%, 79.6%);
        --emerald-green-dark: hsl(174, 100%, 19.4%);
        --emerald-green-light: hsl(177, 100%, 31.6%);
        --deep-gray: hsl(24, 7%, 22.4%);
    }
}