@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000000;
    --white: #ffffff;
    --silver: #c9cccd;
    --emerald-green-dark: #006359;
    --emerald-green-light: #00a199;
    --deep-gray: #3d3835;
  }
}
